In [1]:
# 영업이익률 = 영업이익 / 매출액
# 자기자본이익률(ROE) = 순이익 / 자기자본
# 총자본이익률(ROA) = 순이익 / 총자산

# 유동비율 = 유동자산/유동부채
# 이자보상비율 = 영업이익/이자비용

# 주당순이익(EPS) = 순이익/주식수
# PER = 주가 / EPS
# 주당순자산(BRS) = 자기자본/주식수
# PBR = 주가/BPS

# 매출성장률
# 영업이익성장률

In [ ]:
df = pd.read_csv()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('data_files/fin_statement_new.csv')
df.head()

,Code,Name,결산월,상장일,시가총액,유통시가총액,"P/E(Adj., FY End)","P/B(Adj., FY End)","P/S(Adj., FY End)","P/FCF1(Adj., FY End)",EV/EBITDA,EV/EBIT,"DPS(보통주, 현금+주식, 연간)",year,수정주가,ROA,비유동부채,자산총계
0,A000020,동화약품,12,19760324,1.131225e+11,6.552053e+10,11.23,0.55,0.56,4.39,3.48,4.39,600.0,2006,6460,3.81,11961630.0,195293494.0
1,A000040,KR모터스,12,19760525,1.441257e+11,1.118560e+11,97.07,1.44,0.82,-7.78,16.84,40.67,0.0,2006,1098,-21.98,28190608.0,81250312.0
2,A000050,경방,12,19560303,2.756000e+11,1.802700e+11,426.23,0.86,2.01,5.78,15.34,20.66,0.0,2006,10339,-1.80,17344611.0,515345506.0
3,A000070,삼양홀딩스,12,19681227,6.024322e+11,2.815768e+11,8.36,0.57,0.53,11.16,4.60,6.21,1050.0,2006,63563,5.49,60878366.0,973804019.0
4,A000100,유한양행,12,19621101,1.382098e+12,1.018468e+12,25.28,2.67,4.07,-27.99,15.72,17.16,1000.0,2006,24911,7.53,95212024.0,746417156.0

In [10]:
df = df.drop(['결산월', '상장일', 'DPS(보통주, 현금+주식, 연간)'], axis=1)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19768 entries, 0 to 19767
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Code                  19768 non-null  object
 1   Name                  19768 non-null  object
 2   시가총액                  19753 non-null  float64
 3   유통시가총액                19753 non-null  float64
 4   P/E(Adj., FY End)     19595 non-null  float64
 5   P/B(Adj., FY End)     19723 non-null  float64
 6   P/S(Adj., FY End)     19629 non-null  float64
 7   P/FCF1(Adj., FY End)  18734 non-null  float64
 8   EV/EBITDA             19590 non-null  float64
 9   EV/EBIT               19590 non-null  float64
 10  year                  19768 non-null  int64
 11  수정주가                  19768 non-null  int64
 12  ROA                   18708 non-null  float64
 13  비유동부채                 19214 non-null  float64
 14  자산총계                  19475 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 2.3+ MB

In [19]:
df = df.rename(columns={
    'P/E(Adj., FY End)': 'per',
    'P/B(Adj., FY End)': 'pbr', 
    'P/S(Adj., FY End)': 'psr',
    'P/FCF1(Adj., FY End)': 'pcr'
})

In [20]:
df.head()

,Code,Name,시가총액,유통시가총액,per,pbr,psr,pcr,EV/EBITDA,EV/EBIT,year,수정주가,ROA,비유동부채,자산총계
0,A000020,동화약품,1.131225e+11,6.552053e+10,11.23,0.55,0.56,4.39,3.48,4.39,2006,6460,3.81,11961630.0,195293494.0
1,A000040,KR모터스,1.441257e+11,1.118560e+11,97.07,1.44,0.82,-7.78,16.84,40.67,2006,1098,-21.98,28190608.0,81250312.0
2,A000050,경방,2.756000e+11,1.802700e+11,426.23,0.86,2.01,5.78,15.34,20.66,2006,10339,-1.80,17344611.0,515345506.0
3,A000070,삼양홀딩스,6.024322e+11,2.815768e+11,8.36,0.57,0.53,11.16,4.60,6.21,2006,63563,5.49,60878366.0,973804019.0
4,A000100,유한양행,1.382098e+12,1.018468e+12,25.28,2.67,4.07,-27.99,15.72,17.16,2006,24911,7.53,95212024.0,746417156.0

In [22]:
df[df['Name'] == '동화약품']

,Code,Name,시가총액,유통시가총액,per,pbr,psr,pcr,EV/EBITDA,EV/EBIT,year,수정주가,ROA,비유동부채,자산총계
0,A000020,동화약품,1.131225e+11,6.552053e+10,11.23,0.55,0.56,4.39,3.48,4.39,2006,6460,3.81,11961630.0,195293494.0
1479,A000020,동화약품,1.620025e+11,9.694231e+10,18.39,0.92,1.00,12.29,6.72,8.69,2007,10720,3.95,12398017.0,192629355.0
3017,A000020,동화약품,2.893700e+11,1.763710e+11,14.63,1.76,1.80,-73.53,8.05,9.00,2008,6180,4.13,10897247.0,197948382.0
4623,A000020,동화약품,2.346243e+11,1.383111e+11,7.92,1.10,1.20,-2.99,5.44,5.94,2009,7580,10.28,8360598.0,220422961.0
6259,A000020,동화약품,1.673095e+11,9.983358e+10,31.52,1.01,1.46,-53.54,8.25,18.49,2010,5290,10.72,25682734.0,311472628.0
7882,A000020,동화약품,1.228985e+11,7.542279e+10,27.23,0.69,0.69,27.78,6.65,24.75,2011,4080,2.17,7427668.0,308991731.0
9516,A000020,동화약품,1.256916e+11,7.757686e+10,6.45,0.50,0.49,3.12,3.24,5.24,2012,6040,1.72,27437308.0,324009899.0
11169,A000020,동화약품,1.714992e+11,1.080617e+11,128.66,0.74,0.76,39.78,7.91,19.80,2013,4390,5.33,21947412.0,339431477.0
12812,A000020,동화약품,1.661922e+11,1.053991e+11,121.18,0.54,0.56,37.97,7.56,279.96,2014,5570,0.40,14690149.0,324284672.0
14467,A000020,동화약품,2.488694e+11,1.559665e+11,31.51,0.68,0.73,26.46,7.13,26.16,2015,8140,0.32,15561801.0,316165541.0
16159,A000020,동화약품,2.469142e+11,1.532596e+11,40.54,0.98,1.02,25.06,10.37,33.35,2016,8120,1.57,14432183.0,313073100.0
17930,A000020,동화약품,3.449537e+11,2.134918e+11,8.64,0.89,0.96,-57.91,3.44,4.60,2017,9750,1.78,18088060.0,317187030.0

In [24]:
yearly_price_df = df.pivot(index='year', columns='Name', values='수정주가')
yearly_price_df

Name,3S,3SOFT,3노드디지탈,AD모터스,AJS,AJ네트웍스,AJ렌터카,AK홀딩스,APS홀딩스,AP시스템,...,휴온스,휴온스글로벌,휴젤,휴켐스,흥구석유,흥국,흥국에프엔비,흥아해운,희림,희훈디앤지
year,,,,,,,,,,,,,,,,,,,,,
2006,830.0,6530.0,NaN,1997.0,1250.0,NaN,NaN,12960.0,2940.0,NaN,...,NaN,NaN,NaN,5356.0,1976.0,NaN,NaN,1979.0,2941.0,1212.0
2007,686.0,5410.0,NaN,1600.0,2200.0,NaN,NaN,26015.0,2607.0,NaN,...,NaN,6385.0,NaN,11430.0,3393.0,NaN,NaN,3011.0,8072.0,1120.0
2008,524.0,930.0,799.0,244.0,835.0,NaN,NaN,8859.0,2566.0,NaN,...,NaN,4538.0,NaN,13179.0,2420.0,NaN,NaN,1053.0,7687.0,210.0
2009,1163.0,5.0,1770.0,911.0,2820.0,NaN,NaN,10362.0,3185.0,NaN,...,NaN,5549.0,NaN,18336.0,2660.0,NaN,NaN,1151.0,11000.0,5.0
2010,3237.0,NaN,1840.0,718.0,1740.0,NaN,NaN,22039.0,5692.0,NaN,...,NaN,4206.0,NaN,19600.0,2320.0,2190.0,NaN,1935.0,8320.0,NaN
2011,24852.0,NaN,912.0,389.0,1125.0,NaN,NaN,25444.0,9685.0,NaN,...,NaN,5494.0,NaN,19950.0,1500.0,2335.0,NaN,1216.0,6310.0,NaN
2012,7160.0,NaN,865.0,69.0,891.0,NaN,NaN,21516.0,5424.0,NaN,...,NaN,9111.0,NaN,25900.0,1585.0,1927.0,NaN,1571.0,6880.0,NaN
2013,4440.0,NaN,1200.0,NaN,620.0,NaN,12350.0,39689.0,7346.0,NaN,...,NaN,27403.0,NaN,24000.0,2000.0,2040.0,NaN,2230.0,5710.0,NaN
2014,2395.0,NaN,NaN,NaN,33.0,NaN,16300.0,80200.0,4544.0,NaN,...,NaN,37199.0,NaN,25100.0,2165.0,1737.0,NaN,4977.0,4660.0,NaN
2015,2335.0,NaN,NaN,NaN,NaN,NaN,11900.0,63200.0,9685.0,NaN,...,NaN,62821.0,NaN,15300.0,3040.0,2200.0,NaN,3315.0,4090.0,NaN
2016,2785.0,NaN,NaN,NaN,NaN,6500.0,8350.0,56000.0,22240.0,NaN,...,NaN,29728.0,109499.0,21700.0,3425.0,4945.0,2750.0,2426.0,5160.0,NaN
2017,1845.0,NaN,NaN,NaN,NaN,6970.0,9910.0,68500.0,7510.0,35100.0,...,61841.0,50548.0,190831.0,24550.0,2775.0,3530.0,1738.0,1468.0,4645.0,NaN

In [26]:
yearly_price_df.pct_change()

Name,3S,3SOFT,3노드디지탈,AD모터스,AJS,AJ네트웍스,AJ렌터카,AK홀딩스,APS홀딩스,AP시스템,...,휴온스,휴온스글로벌,휴젤,휴켐스,흥구석유,흥국,흥국에프엔비,흥아해운,희림,희훈디앤지
year,,,,,,,,,,,,,,,,,,,,,
2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,-0.173494,-0.171516,NaN,-0.198798,0.760000,NaN,NaN,1.007330,-0.113265,NaN,...,NaN,NaN,NaN,1.134055,0.717105,NaN,NaN,0.521475,1.744645,-0.075908
2008,-0.236152,-0.828096,NaN,-0.847500,-0.620455,NaN,NaN,-0.659466,-0.015727,NaN,...,NaN,-0.289272,NaN,0.153018,-0.286767,NaN,NaN,-0.650282,-0.047696,-0.812500
2009,1.219466,-0.994624,1.215269,2.733607,2.377246,NaN,NaN,0.169658,0.241231,NaN,...,NaN,0.222785,NaN,0.391304,0.099174,NaN,NaN,0.093067,0.430987,-0.976190
2010,1.783319,0.000000,0.039548,-0.211855,-0.382979,NaN,NaN,1.126906,0.787127,NaN,...,NaN,-0.242026,NaN,0.068935,-0.127820,NaN,NaN,0.681147,-0.243636,0.000000
2011,6.677479,0.000000,-0.504348,-0.458217,-0.353448,NaN,NaN,0.154499,0.701511,NaN,...,NaN,0.306229,NaN,0.017857,-0.353448,0.066210,NaN,-0.371576,-0.241587,0.000000
2012,-0.711894,0.000000,-0.051535,-0.822622,-0.208000,NaN,NaN,-0.154378,-0.439959,NaN,...,NaN,0.658355,NaN,0.298246,0.056667,-0.174732,NaN,0.291941,0.090333,0.000000
2013,-0.379888,0.000000,0.387283,0.000000,-0.304153,NaN,NaN,0.844627,0.354351,NaN,...,NaN,2.007683,NaN,-0.073359,0.261830,0.058640,NaN,0.419478,-0.170058,0.000000
2014,-0.460586,0.000000,0.000000,0.000000,-0.946774,NaN,0.319838,1.020711,-0.381432,NaN,...,NaN,0.357479,NaN,0.045833,0.082500,-0.148529,NaN,1.231839,-0.183888,0.000000
2015,-0.025052,0.000000,0.000000,0.000000,0.000000,NaN,-0.269939,-0.211970,1.131382,NaN,...,NaN,0.688782,NaN,-0.390438,0.404157,0.266552,NaN,-0.333936,-0.122318,0.000000
2016,0.192719,0.000000,0.000000,0.000000,0.000000,NaN,-0.298319,-0.113924,1.296335,NaN,...,NaN,-0.526782,NaN,0.418301,0.126645,1.247727,NaN,-0.268175,0.261614,0.000000
2017,-0.337522,0.000000,0.000000,0.000000,0.000000,0.072308,0.186826,0.223214,-0.662320,NaN,...,NaN,0.700350,0.742765,0.131336,-0.189781,-0.286148,-0.368,-0.394889,-0.099806,0.000000

In [27]:
indicator = 'ROA'
top_n = 10

df.groupby(['year'])[indicator].nlargest(top_n)

year
2006  1079     64.49
      1442     62.61
      1455     58.55
      1402     51.44
      1467     48.40
               ...
2017  19658    52.05
      19696    48.98
      19730    46.44
      18265    41.83
      19729    39.48
Name: ROA, Length: 120, dtype: float64

In [29]:
top_n_indicator_df = df.groupby(['year'])[indicator].nlargest(top_n).reset_index()

In [30]:
top_n_indicator_df

     year  level_1    ROA
0    2006     1079  64.49
1    2006     1442  62.61
2    2006     1455  58.55
3    2006     1402  51.44
4    2006     1467  48.40
..    ...      ...    ...
115  2017    19658  52.05
116  2017    19696  48.98
117  2017    19730  46.44
118  2017    18265  41.83
119  2017    19729  39.48

[120 rows x 3 columns]

In [31]:
df.loc[1079]

Code                A048870
Name               시너지이노베이션
시가총액         252240105600.0
유통시가총액       186001853869.0
per                    0.63
pbr                    0.18
psr                     0.1
pcr                    0.56
EV/EBITDA              7.73
EV/EBIT                9.24
year                   2006
수정주가                  45925
ROA                   64.49
비유동부채              484745.0
자산총계             97283559.0
Name: 1079, dtype: object

In [32]:
roa_df.loc[top_n_indicator_df['level_1']]

,Code,Name,시가총액,유통시가총액,per,pbr,psr,pcr,EV/EBITDA,EV/EBIT,year,수정주가,ROA,비유동부채,자산총계
1079,A048870,시너지이노베이션,2.522401e+11,1.860019e+11,0.63,0.18,0.10,0.56,7.73,9.24,2006,45925,64.49,4.847450e+05,9.728356e+07
1442,A080000,에스엔유,1.778220e+11,1.152422e+11,11.85,3.28,3.44,-43.05,9.48,10.33,2006,4217,62.61,4.739832e+06,3.121012e+07
1455,A082800,루미마이크로,5.969880e+10,2.824947e+10,36.02,2.22,2.73,-15.02,14.72,41.42,2006,1311,58.55,3.674557e+06,1.983653e+07
1402,A075130,플랜티넷,1.276800e+11,1.326851e+11,27.24,5.14,10.07,51.34,21.08,26.37,2006,16200,51.44,1.988671e+06,2.633992e+07
1467,A084370,유진테크,3.117018e+10,1.472479e+10,NaN,0.00,NaN,NaN,NaN,NaN,2006,1447,48.40,1.324699e+06,1.429712e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19658,A207940,삼성바이오로직스,3.046898e+13,6.636144e+12,-48.50,2.45,29.11,-36.50,-62.10,-44.75,2017,371000,52.05,1.273990e+09,5.960494e+09
19696,A219550,MP한강,1.346901e+11,5.655638e+10,13.32,5.04,2.10,16.92,-0.05,-0.05,2017,1860,48.98,8.242400e+04,1.551397e+07
19730,A238090,앤디포스,1.086472e+11,2.950859e+10,11.50,2.53,2.43,15.41,7.27,7.67,2017,3136,46.44,2.285403e+06,3.492502e+07
18265,A009180,한솔로지스틱스,4.135834e+10,3.231740e+10,12.58,1.04,0.12,-43.30,5.42,9.03,2017,1738,41.83,3.078808e+06,8.939474e+07
19729,A237880,클리오,5.940307e+11,1.712591e+11,22.66,3.88,2.44,-112.23,14.77,15.92,2017,36750,39.48,2.825745e+06,6.138686e+07

In [33]:
select_return_df = yearly_rtn_df * asset_on_df
select_return_df

NameError: name 'yearly_rtn_df' is not defined

In [ ]:
### 소형주 + 저pbr전략

In [36]:
market_cap_quantile_series = df.groupby('year')['시각총액'].quantile(0.2)

KeyError: 'Column not found: 시각총액'

In [ ]:
df

In [37]:
00:00:00 + 2

SyntaxError: illegal target for annotation (Temp/ipykernel_22920/192654416.py, line 1)