In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
price_df = pd.read_csv('data_files/수정주가.csv', encoding='euckr')
raw_df = pd.read_excel('data_files/재무데이터 수정.xlsx')

In [22]:
name = [x.split('.')[0] for x in raw_df.columns]

In [23]:
date = raw_df.loc[0].values

In [26]:
raw_df

,Symbol,Symbol Name,ROA,ROA,ROA,ROA,ROA,ROA,ROA,ROA,...,DPS,DPS,DPS,DPS,DPS,DPS,DPS,DPS,DPS,DPS
0,NaN,NaN,08/4Q,09/1Q,09/2Q,09/3Q,09/4Q,10/1Q,10/2Q,10/3Q,...,16/1Q,16/2Q,16/3Q,16/4Q,17/1Q,17/2Q,17/3Q,17/4Q,18/1Q,18/2Q
1,A005930,삼성전자,7.62,5.24,3.78,5.46,6.93,8.74,10.53,11.46,...,570,570,570,570,850,850,850,850,850,850
2,A000660,SK하이닉스,0,0,0,0,0,12.57,18.73,25.35,...,600,600,600,600,1000,1000,1000,1000,1000,1000
3,A068270,셀트리온,2.92,4.89,8.63,7.3,10.48,11.75,14.02,17.22,...,46.73,46.73,46.73,46.73,19.61,19.61,19.61,19.61,19.61,19.61
4,A207940,삼성바이오로직스,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2049,A297570,IBKS제9호스팩,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2050,A279410,한화에이스스팩4호,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2051,A258790,케이비제11호스팩,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2052,A264290,한화에이스스팩3호,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2053,A010400,우진아이엔에스,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
date[0] = name[0]
date[1] = name[1]

In [42]:
raw_df.columns = [name, date]

In [43]:
raw_df.index =

       Symbol  Symbol Name    ROA                                            \
       Symbol  Symbol Name  08/4Q  09/1Q  09/2Q  09/3Q  09/4Q  10/1Q  10/2Q
0      Symbol  Symbol Name  08/4Q  09/1Q  09/2Q  09/3Q  09/4Q  10/1Q  10/2Q
1     A005930         삼성전자   7.62   5.24   3.78   5.46   6.93   8.74  10.53
2     A000660       SK하이닉스      0      0      0      0      0  12.57  18.73
3     A068270         셀트리온   2.92   4.89   8.63    7.3  10.48  11.75  14.02
4     A207940     삼성바이오로직스      0      0      0      0      0      0      0
...       ...          ...    ...    ...    ...    ...    ...    ...    ...
2049  A297570    IBKS제9호스팩      0      0      0      0      0      0      0
2050  A279410    한화에이스스팩4호      0      0      0      0      0      0      0
2051  A258790    케이비제11호스팩      0      0      0      0      0      0      0
2052  A264290    한화에이스스팩3호      0      0      0      0      0      0      0
2053  A010400      우진아이엔에스      0      0      0      0      0      0      0

             ...    DPS                                                   \
      10/3Q  ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q
0     10/3Q  ...  16/1Q  16/2Q  16/3Q  16/4Q  17/1Q  17/2Q  17/3Q  17/4Q
1     11.46  ...    570    570    570    570    850    850    850    850
2     25.35  ...    600    600    600    600   1000   1000   1000   1000
3     17.22  ...  46.73  46.73  46.73  46.73  19.61  19.61  19.61  19.61
4         0  ...      0      0      0      0      0      0      0      0
...     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
2049      0  ...      0      0      0      0      0      0      0      0
2050      0  ...      0      0      0      0      0      0      0      0
2051      0  ...      0      0      0      0      0      0      0      0
2052      0  ...      0      0      0      0      0      0      0      0
2053      0  ...      0      0      0      0      0      0      0      0


      18/1Q  18/2Q
0     18/1Q  18/2Q
1       850    850
2      1000   1000
3     19.61  19.61
4         0      0
...     ...    ...
2049      0      0
2050      0      0
2051      0      0
2052      0      0
2053      0      0

[2054 rows x 651 columns]

In [45]:
raw_df.index = raw_df['Symbol']['Symbol']

In [79]:
price_df = price_df.drop(0)

In [82]:
price_df.index = pd.to_datetime(price_df['코드명'])

In [84]:
price_df.drop(['코드명'], axis=1, inplace=True)

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A900340,A950010,A950030,A950070,A950100,A950110,A950130,A950140,A950160,A950170
코드명,,,,,,,,,,,,,,,,,,,,,
2006-01-31,NaN,3430,NaN,2317,12164,5788,57432,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,NaN,3440,NaN,2279,9693,5015,55082,NaN,NaN,120947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,NaN,3080,NaN,2039,10187,4775,58556,NaN,NaN,111188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-28,NaN,5040,NaN,1918,10985,6060,62133,NaN,NaN,108050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-30,NaN,5500,NaN,1332,10643,6008,57432,NaN,NaN,101079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-31,NaN,9050,15750,558,11850,18200,86300,15750,NaN,160283,...,NaN,NaN,NaN,NaN,NaN,7150,3985,5610,34000,6570
2018-11-30,NaN,9110,15650,512,11250,21200,87500,17500,NaN,217698,...,2340,NaN,NaN,NaN,NaN,15300,4150,7290,41900,8200
2018-12-28,NaN,9100,15600,500,10800,21850,78500,16600,NaN,204500,...,1395,NaN,NaN,NaN,NaN,16300,4285,6230,43150,6730
2019-01-31,NaN,9840,14800,528,11000,22200,83200,16900,NaN,238000,...,1535,NaN,NaN,NaN,NaN,14200,4015,5490,39200,7120
2019-02-28,NaN,9800,NaN,507,11250,22100,84300,17700,NaN,260500,...,2290,NaN,NaN,NaN,NaN,12600,3980,5490,40300,8710

In [136]:
st_index = [x for x in price_df.index if str(x).split('-')[1] == '01']

In [177]:
for x in price_df.index:
    print(str(x).split('-')[0])

2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2019
2019

In [352]:

st_year = 2009
ed_year = 2018
total_money = 100000000
st_columns = ['A000950', 'A101680', 'A010770', 'A008110', 'A038110', 'A277410',
       'A103230', 'A096350', 'A011300', 'A155960']
st_index = [x for x in price_df.index if str(x).split('-')[1] == '01' and int(str(x).split('-')[0]) in range(st_year, ed_year + 1)]

st_df = price_df.loc[st_index, st_columns]
st_df.index = [str(x).split('-')[0] for x in st_df.index]
st_df.fillna(0, inplace=True)
return st_df

SyntaxError: 'return' outside function (1640012753.py, line 11)

In [353]:
import math
total_money = 100000000
for year in  range(st_year, ed_year+1):
    
   
    if year != st_year:
        print(f"{year} 판매")
        total_money = 0
        total_money_change = 0
        for symbol in sold_num_df.keys():
            stock_price = int(st_df.loc[str(year), symbol])
            
            old_price = old_data[symbol] * sold_num_df[symbol]
            new_price = stock_price * sold_num_df[symbol]
            total_money_change += new_price - old_price
            total_money += stock_price * sold_num_df[symbol]
            print("과거 가격 :", old_price, "현재 가격 :", new_price, "판매결과 :", new_price - old_price)
        total_money += rest_money
        print("총 판매결과 :", total_money_change, "총 금액 :", total_money)
    
    print('')
    
    if year != ed_year:
        print(f"{year} 구매")
        rest_money = 0
        stock_num = len(st_df.columns)
        split_money = total_money / stock_num
        sold_num_df = {}
        old_data = {}
        
        for symbol in st_df.columns:
            stock_price = int(st_df.loc[str(year), symbol])
            old_data[symbol] = stock_price
            if stock_price == 0:
                rest_money += split_money

                print(f"{symbol}의 주가 정보가 없습니다")
            else:
                sold_num = math.floor(split_money / stock_price)
                sold_num_df[symbol] = sold_num
                sold_price = sold_num * stock_price
                rest_money += split_money - sold_price

                
                print(f"{symbol} {stock_price}원에 {sold_num}개 구입")
        
        print("=" * 50)

2009 구매
A000950 29500원에 338개 구입
A101680의 주가 정보가 없습니다
A010770 1430원에 6993개 구입
A008110 2340원에 4273개 구입
A038110 1175원에 8510개 구입
A277410의 주가 정보가 없습니다
A103230의 주가 정보가 없습니다
A096350 722원에 13850개 구입
A011300 136원에 73529개 구입
A155960의 주가 정보가 없습니다
==================================================
2010 판매
과거 가격 : 9971000 현재 가격 : 7706400 판매결과 : -2264600
과거 가격 : 9999990 현재 가격 : 14265720 판매결과 : 4265730
과거 가격 : 9998820 현재 가격 : 13113837 판매결과 : 3115017
과거 가격 : 9999250 현재 가격 : 16934900 판매결과 : 6935650
과거 가격 : 9999700 현재 가격 : 15581250 판매결과 : 5581550
과거 가격 : 9999944 현재 가격 : 14852858 판매결과 : 4852914
총 판매결과 : 22486261 총 금액 : 122486261.0

2010 구매
A000950 22800원에 537개 구입
A101680 35500원에 345개 구입
A010770 2040원에 6004개 구입
A008110 3069원에 3991개 구입
A038110 1990원에 6155개 구입
A277410의 주가 정보가 없습니다
A103230 5530원에 2214개 구입
A096350 1125원에 10887개 구입
A011300 202원에 60636개 구입
A155960의 주가 정보가 없습니다
==================================================
2011 판매
과거 가격 : 12243600 현재 가격 : 24916800 판매결과 : 12673200
과거 가격 : 12247500 현재 가격 : 11005500 판매결과 : -1242000
과거 가격 : 12248160 현재 가격 : 19152760 판매결과 : 6904600
과거 가격 : 12248379 현재 가격 : 12551695 판매결과 : 303316
과거 가격 : 12248450 현재 가격 : 17572525 판매결과 : 5324075
과거 가격 : 12243420 현재 가격 : 9498060 판매결과 : -2745360
과거 가격 : 12247875 현재 가격 : 8241459 판매결과 : -4006416
과거 가격 : 12248472 현재 가격 : 41838840 판매결과 : 29590368
총 판매결과 : 46801783 총 금액 : 169288044.0

2011 구매
A000950 46400원에 364개 구입
A101680 31900원에 530개 구입
A010770 3190원에 5306개 구입
A008110 3145원에 5382개 구입
A038110 2855원에 5929개 구입
A277410의 주가 정보가 없습니다
A103230 4290원에 3946개 구입
A096350 757원에 22363개 구입
A011300 690원에 24534개 구입
A155960의 주가 정보가 없습니다
==================================================
2012 판매
과거 가격 : 16889600 현재 가격 : 10264800 판매결과 : -6624800
과거 가격 : 16907000 현재 가격 : 10202500 판매결과 : -6704500
과거 가격 : 16926140 현재 가격 : 15838410 판매결과 : -1087730
과거 가격 : 16926390 현재 가격 : 13105170 판매결과 : -3821220
과거 가격 : 16927295 현재 가격 : 14941080 판매결과 : -1986215
과거 가격 : 16928340 현재 가격 : 10851500 판매결과 : -6076840
과거 가격 : 16928791 현재 가격 : 11069685 판매결과 : -5859106
과거 가격 : 16928460 현재 가격 : 17958888 판매결과 : 1030428
총 판매결과 : -31129983 총 금액 : 138158061.0

2012 구매
A000950 28200원에 489개 구입
A101680 19250원에 717개 구입
A010770 2985원에 4628개 구입
A008110 2435원에 5673개 구입
A038110 2520원에 5482개 구입
A277410의 주가 정보가 없습니다
A103230 2750원에 5023개 구입
A096350 495원에 27910개 구입
A011300 732원에 18874개 구입
A155960의 주가 정보가 없습니다
==================================================
2013 판매
과거 가격 : 13789800 현재 가격 : 12053850 판매결과 : -1735950
과거 가격 : 13802250 현재 가격 : 6926220 판매결과 : -6876030
과거 가격 : 13814580 현재 가격 : 11801400 판매결과 : -2013180
과거 가격 : 13813755 현재 가격 : 16678620 판매결과 : 2864865
과거 가격 : 13814640 현재 가격 : 11155870 판매결과 : -2658770
과거 가격 : 13813250 현재 가격 : 11753820 판매결과 : -2059430
과거 가격 : 13815450 현재 가격 : 16746000 판매결과 : 2930550
과거 가격 : 13815768 현재 가격 : 16911104 판매결과 : 3095336
총 판매결과 : -6452609 총 금액 : 131705452.0

2013 구매
A000950 24650원에 534개 구입
A101680 9660원에 1363개 구입
A010770 2550원에 5164개 구입
A008110 2940원에 4479개 구입
A038110 2035원에 6472개 구입
A277410의 주가 정보가 없습니다
A103230 2340원에 5628개 구입
A096350 600원에 21950개 구입
A011300 896원에 14699개 구입
A155960의 주가 정보가 없습니다
==================================================
2014 판매
과거 가격 : 13163100 현재 가격 : 14818500 판매결과 : 1655400
과거 가격 : 13166580 현재 가격 : 14243350 판매결과 : 1076770
과거 가격 : 13168200 현재 가격 : 15182160 판매결과 : 2013960
과거 가격 : 13168260 현재 가격 : 13884900 판매결과 : 716640
과거 가격 : 13170520 현재 가격 : 12944000 판매결과 : -226520
과거 가격 : 13169520 현재 가격 : 13141380 판매결과 : -28140
과거 가격 : 13170000 현재 가격 : 11040850 판매결과 : -2129150
과거 가격 : 13170304 현재 가격 : 9642544 판매결과 : -3527760
총 판매결과 : -448800 총 금액 : 131256652.0

2014 구매
A000950 27750원에 472개 구입
A101680 10450원에 1256개 구입
A010770 2940원에 4464개 구입
A008110 3100원에 4234개 구입
A038110 2000원에 6562개 구입
A277410의 주가 정보가 없습니다
A103230 2335원에 5621개 구입
A096350 503원에 26094개 구입
A011300 656원에 20008개 구입
A155960 11532원에 1138개 구입
==================================================
2015 판매
과거 가격 : 13098000 현재 가격 : 18408000 판매결과 : 5310000
과거 가격 : 13125200 현재 가격 : 7787200 판매결과 : -5338000
과거 가격 : 13124160 현재 가격 : 13057200 판매결과 : -66960
과거 가격 : 13125400 현재 가격 : 17190040 판매결과 : 4064640
과거 가격 : 13124000 현재 가격 : 17225250 판매결과 : 4101250
과거 가격 : 13125035 현재 가격 : 12591040 판매결과 : -533995
과거 가격 : 13125282 현재 가격 : 11142138 판매결과 : -1983144
과거 가격 : 13125248 현재 가격 : 16306520 판매결과 : 3181272
과거 가격 : 13123416 현재 가격 : 7249060 판매결과 : -5874356
총 판매결과 : 2860707 총 금액 : 134117359.0

2015 구매
A000950 39000원에 343개 구입
A101680 6200원에 2163개 구입
A010770 2925원에 4585개 구입
A008110 4060원에 3303개 구입
A038110 2625원에 5109개 구입
A277410의 주가 정보가 없습니다
A103230 2240원에 5987개 구입
A096350 427원에 31409개 구입
A011300 815원에 16456개 구입
A155960 6370원에 2105개 구입
==================================================
2016 판매
과거 가격 : 13377000 현재 가격 : 18007500 판매결과 : 4630500
과거 가격 : 13410600 현재 가격 : 7678650 판매결과 : -5731950
과거 가격 : 13411125 현재 가격 : 15061725 판매결과 : 1650600
과거 가격 : 13410180 현재 가격 : 17836200 판매결과 : 4426020
과거 가격 : 13411125 현재 가격 : 17447235 판매결과 : 4036110
과거 가격 : 13410880 현재 가격 : 22361445 판매결과 : 8950565
과거 가격 : 13411643 현재 가격 : 13254598 판매결과 : -157045
과거 가격 : 13411640 현재 가격 : 15616744 판매결과 : 2205104
과거 가격 : 13408850 현재 가격 : 7293825 판매결과 : -6115025
총 판매결과 : 13894879 총 금액 : 148012238.0

2016 구매
A000950 52500원에 281개 구입
A101680 3550원에 4169개 구입
A010770 3285원에 4505개 구입
A008110 5400원에 2740개 구입
A038110 3415원에 4334개 구입
A277410의 주가 정보가 없습니다
A103230 3735원에 3962개 구입
A096350 422원에 35073개 구입
A011300 949원에 15596개 구입
A155960 3465원에 4271개 구입
==================================================
2017 판매
과거 가격 : 14752500 현재 가격 : 7825850 판매결과 : -6926650
과거 가격 : 14799950 현재 가격 : 17468110 판매결과 : 2668160
과거 가격 : 14798925 현재 가격 : 16353150 판매결과 : 1554225
과거 가격 : 14796000 현재 가격 : 12453300 판매결과 : -2342700
과거 가격 : 14800610 현재 가격 : 11095040 판매결과 : -3705570
과거 가격 : 14798070 현재 가격 : 20245820 판매결과 : 5447750
과거 가격 : 14800806 현재 가격 : 17361135 판매결과 : 2560329
과거 가격 : 14800604 현재 가격 : 13662096 판매결과 : -1138508
과거 가격 : 14799015 현재 가격 : 18728335 판매결과 : 3929320
총 판매결과 : 2046356 총 금액 : 150058594.0

2017 구매
A000950 27850원에 538개 구입
A101680 4190원에 3581개 구입
A010770 3630원에 4133개 구입
A008110 4545원에 3301개 구입
A038110 2560원에 5861개 구입
A277410의 주가 정보가 없습니다
A103230 5110원에 2936개 구입
A096350 495원에 30314개 구입
A011300 876원에 17129개 구입
A155960 4385원에 3422개 구입
==================================================
2018 판매
과거 가격 : 14983300 현재 가격 : 10706200 판매결과 : -4277100
과거 가격 : 15004390 현재 가격 : 8862975 판매결과 : -6141415
과거 가격 : 15002790 현재 가격 : 29137650 판매결과 : 14134860
과거 가격 : 15003045 현재 가격 : 13583615 판매결과 : -1419430
과거 가격 : 15004160 현재 가격 : 12454625 판매결과 : -2549535
과거 가격 : 15002960 현재 가격 : 11127440 판매결과 : -3875520
과거 가격 : 15005430 현재 가격 : 9973306 판매결과 : -5032124
과거 가격 : 15005004 현재 가격 : 11647720 판매결과 : -3357284
과거 가격 : 15005470 현재 가격 : 6467580 판매결과 : -8537890
총 판매결과 : -21055438 총 금액 : 129003156.0

In [336]:
def finance_data_preprocessing(path):
    
    raw_data = pd.read_excel(path)
    
    big_col = list(raw_data.columns)
    for num, temp in enumerate(big_col):
        if '.' in temp:
            big_col[num] = temp.split('.')[0]
            
    small_col = list(raw_data.loc[0])
    small_col[0] = big_col[0]
    small_col[1] = big_col[1]
    
    raw_data.columns = [big_col, small_col]
    raw_data = raw_data.drop(0)
    
    raw_data.index = raw_data['Symbol']['Symbol']
    del raw_data['Symbol']
    
    return raw_data

In [339]:
path = 'data_files/재무데이터 수정.xlsx'

In [340]:
data_df = finance_data_preprocessing(path)

In [341]:
def small_size(data_df, date):

    date = date
    fin_df = data_df[[('시총', date), ('PER',  date), ('PBR', date), ('PSR', date), ('Symbol Name', 'Symbol Name')]]
    fin_df['시총'][date] = pd.to_numeric(fin_df['시총'][date])
    
    market_cap_quantile_series = fin_df['시총'][date].quantile(0.2)
    filtered_df = fin_df[fin_df['시총'][date] <= market_cap_quantile_series]
   
    filtered_df = filtered_df[(filtered_df['PBR'][date] >= 0.2) & (filtered_df['PER'][date] <= 0.8)]
    
    return filtered_df['PBR'][date].sort_values()[:10]

In [342]:
symbol_dic = {}
for i in range(14, 19):
    date = '{:02d}/1Q'.format(i)
    year = 2000 + i
    symbol_dic[year] = list(small_size(data_df, date).index)

C:\Users\bitcamp\anaconda3\envs\py37_env\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [343]:
symbol_dic

{2014: ['A078940', 'A019570', 'A044180', 'A043220', 'A042040', 'A025620'],
 2015: ['A208140',
  'A092300',
  'A080440',
  'A024850',
  'A056000',
  'A033600',
  'A002420',
  'A099410',
  'A021880',
  'A053060'],
 2016: ['A002220',
  'A198440',
  'A101680',
  'A071090',
  'A006110',
  'A007280',
  'A096350',
  'A073010',
  'A064820',
  'A075970'],
 2017: ['A101680',
  'A000950',
  'A006200',
  'A008830',
  'A010660',
  'A037400',
  'A025890',
  'A005450',
  'A096350',
  'A011300'],
 2018: ['A000950',
  'A101680',
  'A002690',
  'A038110',
  'A010660',
  'A002070',
  'A277410',
  'A082850',
  'A024070',
  'A025890']}